.nav-menu{
	display: flex;
	width:auto;
	position: static;
	justify-content: center;
	font-size: 1.5em;

	li{
		margin: 0 10px;
		:hover{
			background-color: $--main-bg-cCream;
			color: $--main-font-cBlue;
		}
	}
}

.sp-menu{
	display: none;
}

.hamburger {
	display: none;
}

footer {
	ul{
		display: flex;
		justify-content: center;
	}
}


// archive-card
