// 最大幅
$contentMaxWidth: 1440px;

// 色
$--main-font-cBlack: #141414;
$--main-bg-cWhite: #ffffff;
$--main-bg-cBlack: #333333;
$--main-bg-cCream: #faf8d2;
$--main-bg-cBlue: #1470a3;
$--main-bg-cSkyblue: #d2f1fa;
$--main-font-cWhite: #ffffff;
$--main-font-cGray: #707070;
$--main-font-cBlue: #1470a3;

$--global--color-black: #333;
$--global--color-gray: #39414d;
$--global--color-light-gray: #f0f0f0;
$--global--color-green: #a4fafa;
$--global--color-red: #ffbdc3;
$--global--color-orange: #fff7e5;
$--global--color-white: #fff;
$--global--color-white-50: rgba(255, 255, 255, 0.5);
$--global--color-white-90: rgba(255, 255, 255, 0.9);
$--global--color-primary: var(--global--color-gray);
